<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Forms.Properties.Settings>
            <setting name="TimeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ScriptList" serializeAs="String">
                <value>ScriptList.json</value>
            </setting>
        </Core.Forms.Properties.Settings>
    </userSettings>
</configuration>